body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flexbox-container {
  display: flex;
}

.flexbox-container-home {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.flexbox-dialog {
  margin-top: 10px;
}

.flexbox-item {
  justify-content: center;
  justify-items: center;
}